{% if object_list %}
    <table class="link_list">
        {% for object in object_list  %}
        <tr class="row" data-pk="{{ object.pk }}">
            <td class="url">{{ object.url }}</td>
            <td class="link">
                {% with view.request.get_host as host %}
                    <a href="{{ host }}{% url 'redirect_to_url' object.link %}" target="_blank">{{ host }}{% url 'redirect_to_url' object.link %}</a>
                {% endwith %}
            </td>
            <td class="edit">
                <button type="button" data-action-url="{% url 'edit_link' object.link %}">Edit</button>
            </td>
            <td class="copy">
                <button type="button">Copy</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class=".previous_page">&lt;&lt; Previous</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
    {% endif %}
    {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="?page={{ page_obj.next_page_number }}" class=".next_page">Next &gt;&gt;</a>
    {% endif %}
{% endif %}